<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/personal.css">
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.gallery.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>TTVideo个人中心</title>
</head>
<body>
<iframe src="title.html" width="100%" height="150px" style="border: none"></iframe>
<div style="margin-top: 10px;background-color:  #f5f5f5" id="bd">
    <div class="container">
        <div class="row" style="height: 800px;width: 100%">
            <div class="col-md-2" style="height: 600px">
                <div style="background: #fff;margin-top: 30px;border-radius: 4px;padding-bottom: 10px">
                    <div style="height: 60px;text-align: center">
                        <div style="padding-top: 20px">
                            <span class="glyphicon glyphicon-th"></span>&nbsp;
                            <b style="font-family: STHeiti">课程中心</b>
                        </div>
                    </div>
                    <hr style="margin: 0px"/>
                    <div class="leftMenu"
                         v-on:click="byCourse($event)">已购课程
                    </div>
                    <div class="leftMenu"
                         v-on:click="clickCourse($event)">点赞课程
                    </div>
                </div>
                <div style="background: #fff;margin-top: 30px;border-radius: 4px;padding-bottom: 10px">
                    <div style="height: 60px;text-align: center">
                        <div style="padding-top: 20px">
                            <span class="glyphicon glyphicon-home"></span>&nbsp;
                            <b style="font-family: STHeiti">个人资料</b>
                        </div>
                    </div>
                    <hr style="margin: 0px"/>
                    <div class="leftMenu"
                         v-on:click="showPersonal($event)">个人资料
                    </div>
                    <div class="leftMenu"
                         v-on:click="updatePass($event)">修改密码
                    </div>
                </div>
            </div>
            <div class="rightDiv" id="byCourseDiv">
                <div class="col-md-10 " style="background-color: #fff;height: 600px;margin-top: 30px;">
                    <div style="text-align: center;width: 100px;padding-top: 20px;">
                        <span style="color: red">已购课程</span>
                    </div>
                    <hr/>
                    <div class="shadow" v-for="course in courses"
                         style="width: 180px;margin-top: 5px;margin-left:8px;height: 150px;background-color: #fff;"
                         v-on:click="toCourse(course.cid)">
                        <img v-bind:src="course.img" width="180px" height="88px" style="border-radius: 4px;float: left">
                        <div style="height: 53px;padding: 5px;">
                            <p style="width:180px;font-size: 12px;height:15px;overflow: hidden;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-break: break-all;">
                                {{course.cname}}
                            </p>
                            <div>
                            <span style="font-size: 12px;">
                                <template v-if="course.free ==1 ">
                                  免费
                                </template>
                                <template v-else>
                                    ￥{{course.price}}
                                     <span style="font-size: 12px;padding-left: 10px;">
                                         <template v-if="course.svipFree == 1">
                                             SVIP免费
                                         </template>
                                         <template v-else>
                                             SVIP:￥{{course.sPrice}}
                                         </template>
                                     </span>
                                </template>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightDiv" style="display: none" id="clickCourseDiv">
                <div class="col-md-10 " style="background-color: #fff;height: 600px;margin-top: 30px;">
                    <div style="text-align: center;width: 100px;padding-top: 20px;">
                        <span style="color: red">点赞课程</span>
                    </div>
                    <hr/>
                    <div class="shadow" v-for="course in courses"
                         style="width: 180px;margin-top: 5px;margin-left:8px;height: 150px;background-color: #fff;"
                         v-on:click="toCourse(course.cid)">
                        <img v-bind:src="course.img" width="180px" height="88px" style="border-radius: 4px;float: left">
                        <div style="height: 53px;padding: 5px;">
                            <p style="width:180px;font-size: 12px;height:15px;overflow: hidden;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-break: break-all;">
                                {{course.cname}}
                            </p>
                            <div>
                            <span style="font-size: 12px;">
                                <template v-if="course.free ==1 ">
                                  免费
                                </template>
                                <template v-else>
                                    ￥{{course.price}}
                                     <span style="font-size: 12px;padding-left: 10px;">
                                         <template v-if="course.svipFree == 1">
                                             SVIP免费
                                         </template>
                                         <template v-else>
                                             SVIP:￥{{course.sPrice}}
                                         </template>
                                     </span>
                                </template>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightDiv" style="display: none" id="showPersonalDiv">
                <div class="col-md-10" style="background-color: #fff;height: 600px;margin-top: 30px;">
                    <div style="text-align: center;padding-top: 20px;">
                        <span style="color: red;width: 100px">个人资料</span>
                        <div style="text-align: center;padding-top: 20px;margin: auto">
                            <form id="updateForm">
                                <div class="form-group">
                                    <label>用户名</label><input class="form-control" name="name"/>
                                </div>
                                <div class="form-group">
                                    <label>联系方式</label><input class="form-control" name="phone" type="text">
                                </div>
                                <div class="form-group">
                                    <label>账号</label><input class="form-control" name="account" type="text" disabled>
                                </div>
                                <div class="form-group">
                                    <label>年龄</label><input class="form-control" name="age" type="text">
                                </div>
                                <div class="text-right">
                                    <span class="btn btn-primary" v-on:click="update">确认修改</span>
                                </div>
                                <input type="hidden" name="uid">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightDiv" style="display: none" id="updatePassDiv">
                <div class="col-md-10 " style="background-color: #fff;height: 600px;margin-top: 30px;">
                    <div style="text-align: center;width: 100px;padding-top: 20px;">
                        <span style="color: red">修改密码</span>
                    </div>
                    <div style="text-align: center;padding-top: 20px;margin: auto">
                        <form class="form-group" id="updatePassFrom">
                            <div class="form-group">
                                <label>旧密码</label>
                                <input class="form-control" name="pass" type="password">
                            </div>
                            <div class="form-group">
                                <label>新密码</label>
                                <input class="form-control" name="newPass" type="password">
                            </div>
                            <div class="form-group">
                                <label>确认输入新密码</label>
                                <input class="form-control" name="tesNewPass" type="password">
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <button id="rePassBut" style="width: 100px;" class="btn btn-lg btn-primary"
                                    v-on:click="rePass">修改密码
                            </button>
                            <input id="str" value="rePassBut" type="hidden">
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="rightDiv" style="display: none">
                <div class="col-md-10 " style="background-color: #fff;height: 600px;margin-top: 30px;">
                    <div style="text-align: center;width: 100px;padding-top: 20px;">
                        <span style="color: red">修改密码</span>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  var vu = new Vue({
    el: "#bd",
    data: {
      courses: {},
      user: {},
    },
    mounted() {
      axios.get('/userByCourse/getByUid?uid=' + $.cookie("user_uid"))
        .then(function (response) {
          vu.courses = response.data.data;
        })
    },
    methods: {
      byCourse: function (event) {
        vu.$options.methods.hideDiv();
        $("#byCourseDiv").removeAttr("style")
        $(event.currentTarget).attr("style", "color:red");
        axios.get('/userByCourse/getByUid?uid=' + $.cookie("user_uid"))
          .then(function (response) {
            vu.courses = response.data.data;
          })
      },
      clickCourse: function (event) {
        vu.$options.methods.hideDiv();
        $("#clickCourseDiv").removeAttr("style")
        $(event.currentTarget).attr("style", "color:red");
        axios.get('/userGiveLikeCourse/getByUid?uid=' + $.cookie("user_uid"))
          .then(function (response) {
            vu.courses = response.data.data;
          })
      },
      showPersonal: function (event) {
        vu.$options.methods.hideDiv();
        axios.get('/user/' + $.cookie("user_uid"))
          .then(function (response) {
            vu.user = response.data.data;
            $("#updateForm").find("input[name='name']").val(vu.user.name);
            $("#updateForm").find("input[name='account']").val(vu.user.account);
            $("#updateForm").find("input[name='phone']").val(vu.user.phone);
            $("#updateForm").find("input[name='age']").val(vu.user.age);
            $("#updateForm").find("input[name='uid']").val(vu.user.uid);
          });
        $("#showPersonalDiv").removeAttr("style");
        $(event.currentTarget).attr("style", "color:red");
      },
      update: function () {
        var formData = new FormData($("#updateForm")[0]);
        axios.post('/user/update', formData)
          .then(function (response) {
            var result = response.data;
            if (result.code == 200) {
              alert("更新成功");
              $("#updateModal").modal("hide");
              vu.$options.methods.topage(vu.pageInfo.currentNum);
            } else {
              alert(result.msg);
              $("#updateModal").modal("hide");
            }
          });
      },
      rePass:function(){
        console.log("123123");
        $(".ErrorSpan").remove();
        var pass = $("#updatePassFrom").find("input[name='pass']");
        if ($.trim(pass.val()) === "") {
          alert("旧密码不能为空");
          return;
        }
        var newPass = $("#updatePassFrom").find("input[name='newPass']");
        if ($.trim(newPass.val()) === "") {
          alert("新密码不能为空");
          return;
        }
        var tesNewPass = $("#updatePassFrom").find("input[name='tesNewPass']");
        if ($.trim(tesNewPass.val()) === "") {
          alert("重复密码不能为空");
          return;
        }
        var newPass = $("#updatePassFrom").find("input[name=newPass]").val();
        var tesNewPasss = $("#updatePassFrom").find("input[name=tesNewPass]").val();
        console.log("123123");
        if (newPass != tesNewPasss) {
          alert("两次密码不一致");
        } else {
          $(".ErrorSpan").remove();
          if (confirm("您确定要修改密码么?")) {
            var formData = new FormData($("#updatePassFrom")[0]);
            axios.post('/user/updatePass/'+ $.cookie("user_uid"), formData)
              .then(function (response) {
                var result = response.data;
                if (result.code == 200) {
                  alert("密码修改成功请点击确定后重新登陆");
                  $.cookie('user_name', name, {expires: -1, path: '/'});
                  $.cookie('user_uid', uid, {expires: -1, path: '/'});
                  $.cookie('user_svip', svip, {expires: -1, path: '/'});
                  window.open('/login.html', '_top');
                } else {
                  alert(result.msg);
                }
              });
          }
        }
      },
      updatePass: function (event) {
        vu.$options.methods.hideDiv();
        $("#updatePassDiv").removeAttr("style")
        $(event.currentTarget).attr("style", "color:red");
      },
      bySvip: function () {
        if (confirm("您确定要购买vip吗?")) {
          var data = new FormData();
          data.append("uid", $.cookie("user_uid"));
        }
      },
      hideDiv: function () {
        $(".rightDiv").attr("style", "display:none");
        $(".leftMenu").removeAttr("style")
      },
      toCourse: function (cid) {
        window.open('/course.html?cid=' + cid, '_blank')
      },
    },
  });
</script>
</body>

</html>
